html, body, h1, h2, h3, p, ol, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
}

p {
  text-decoration: underline;
  color:#FF0000;
}

ul {
  padding-left: 15px;
}

ul li {
  display: inline;
font-size: 16px;
}

a{
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color:#550000;
}
h2 {
  padding: 10px 0 10px 0;
}
h3{
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 3px;
}
ul{
  padding: 0 0 0 50px;
}
ol{
  padding: 0 0 0 50px;
}

.nav {
  padding-left: 0;
}
hr {
  padding: 0;
}
.recipes {
  list-style-type: none;
  padding:0;
  margin-left: 15px;
}
.recipes li {
  display: list-item;
  border: 1px solid #b56663;
  padding-left: 15px;
}
.recipes h3 {
  border-bottom:0;
}
.recipes a {
  color: #7facaa;
  text-decoration: none;
}
